<section class="mt-2" style="background-color: #eee; border-radius: 20px;">

    <div class="container ">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Contact Us</p>
        <div class="d-flex justify-content-center " style="height: 100%;">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">

                    <div class="p-4 border border-info" style="width: 400px; border-radius: 20px;">
                        <div>
                            <form #contactForm="ngForm">
                                <div class="mb-2">
                                    <label for="sDate" class="form-label">Email</label>
                                    <input #Email="ngModel" type="text" [(ngModel)]="contact.Email" class="form-control"
                                        name="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                                    <span class="mt-1" *ngIf="!Email.valid&&(Email.touched||Email.dirty)">
                                        <p class="text-danger" *ngIf="Email.errors?.required">*Email is Required!!!</p>
                                        <p class="text-danger" *ngIf="Email.errors?.pattern">*Please Enter valid
                                            Email!!!</p>
                                    </span>
                                </div>
                                <div class=" mb-2">
                                    <label for="duration" class="form-label">Phone Number</label>
                                    <input #phn="ngModel" type="text" [(ngModel)]="contact.PhoneNumber"
                                        class="form-control" name="PhoneNumber" pattern="[789][0-9]{9}" required>
                                    <span class="mt-1" *ngIf="!phn.valid&&(phn.touched||phn.dirty)">
                                        <p class="text-danger" *ngIf="phn.errors?.required">*Contact Detail is
                                            Required!!!</p>
                                        <p class="text-danger" *ngIf="phn.errors?.pattern">*Please Enter valid Contact
                                            No!!!</p>
                                    </span>
                                </div>
                                <div class="mb-2">
                                    <label for="duration" class="form-label">Policy(optional)</label>
                                    <select #pId class="form-control" name="" [(ngModel)]="contact.PolicyId">
                                        <option value="">Select</option>
                                        <option *ngFor="let p of policyList" value="{{p.PolicyId}}">{{p.PolicyName}}
                                        </option>
                                    </select>

                                </div>

                                <div class="mb-2">
                                    <label for="companyName" class="form-label">Message</label>
                                    <textarea #msg="ngModel" type="textarea" [(ngModel)]="contact.Message"
                                        class="form-control" name="Message" required></textarea>
                                    <span *ngIf="!msg.valid && (msg.touched||msg.dirty)">
                                        <p class="text-danger">*Message is Required</p>
                                    </span>
                                </div>
                                <button [disabled]="contactForm.invalid"  class="btn btn-primary" (click)="save()" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>