<section class="mt-2" style="background-color: #eee; border-radius: 20px;">

    <div class="container ">
        <p class="text-center h1 fw-bold pt-5 mb-5 mx-1 mx-md-4 mt-4">Policies</p>
        <div class="d-flex justify-content-center " style="height: 100%;">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row flex-justify-content ">

                        <div class="col-lg-3 col-md-6 card mx-4 mt-4 " style="width: 18rem;"
                            *ngFor="let p of policyList">

                            <app-policy-card [p]="p"></app-policy-card>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>