
      
    <section class="mt-2" style="background-color: #eee; border-radius: 20px;">

        <div class="container ">
            <div  class="d-flex justify-content-center" style="height: 100%;">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row flex-justify-content " >

                            <section class="most-popular">
                                <h1>Most Popular</h1>
                                <p>
                                   <a href="https://en.wikipedia.org/wiki/Cyber_insurance">Cyber-insurance</a> is a business lines insurance product intended to provide coverage to corporations from Internet-based risks, and more generally from risks relating to information technology infrastructure, information privacy, information governance liability, and activities related thereto.
                                </p>
                                </section>
                                
                                <section class="main-article"> 
                                <h1> Main-article</h1>
                                <p>
                                    Insurance involves <a href="https://en.wikipedia.org/wiki/Cyber_insurance"> pooling </a>funds from many insured entities (known as exposures) to pay for the losses that only some insureds may incur.The insured entities are therefore protected from risk for a fee, with the fee being dependent upon the frequency and severity of the event occurring. In order to be an insurable risk, the risk insured against must meet certain characteristics. Insurance as a financial intermediary is a commercial enterprise and a major part of the financial services industry, but individual entities can also self-insure through saving money for possible future losses.
                                </p>
                                </section>
                                
                                <section class="Marketing">
                                    <h1>Marketing</h1>
                                    <p>
                                        Insurers will often use insurance agents to initially market or underwrite their customers. Agents can be captive, meaning they write only for one company, or independent, meaning that they can issue policies from several companies. The existence and success of companies using<a href="https://en.wikipedia.org/wiki/Law_of_agency"> pooling  insurance</a> agents is likely due to the availability of improved and personalised services. Companies also use Broking firms, Banks and other corporate entities (like Self Help Groups, Microfinance Institutions, NGOs, etc.) to market their productsfunds from many insured entities (known as exposures) to pay for the losses that only some insureds may incur.
                                    </p>
                                </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    
    
