<section class="mt-2" style="background-color: #eee; border-radius: 20px;">

    <div class="container ">
        <p class="text-center h1 fw-bold pt-5 mb-5 mx-1 mx-md-4 mt-4">FeedBacks</p>
        <div class="d-flex justify-content-center " style="height: 100%;">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row flex-justify-content ">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mobile Number</th>
                                    <th scope="col">Policy</th>
                                    <th scope="col">Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of contacts">
                                    <td>{{c.Email}}</td>
                                    <td>{{c.PhoneNumber}}</td>
                                    <td>{{c.PolicyId}}</td>
                                    <td>{{c.Message}}</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>